
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);



/* #PAGE STYLES */

#preloader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 999999;
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	/*background-image: url(../images/preload.gif);*/
	background-color: #3498db;
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}


/* #Navigation
================================================== */

body, html { overflow: hidden; }

html,body{
	width:100%;
	height:100%;
	background:#3498db;
	color:white;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	-ms-transition: background 0.6s;
	-o-transition: background 0.6s;
	transition: background 0.6s;
}

section{
	width:100%;
	height:100%;
	text-align:center;
	position:relative;
	margin:0 auto;
	font-family: 'Lato', sans-serif;
	font-weight:300;
}

article{
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	margin:0 auto;
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	opacity:1;
}

article i{
	position:relative;
	font-size:30px;
	margin-top:100px !important;
	display:inline-block !important;
	color:#fff;
}

article i:before{
	width:100px;
	height:100px;
	background:rgba(255,255,255,0.1);
	-webkit-border-radius:50%;
	border-radius:50%;
	display:inline-block !important;
	line-height:100px;
}



article .cnt{
	text-align:left;
	line-height:24px;
	font-size:20px;
}

.off{
	z-index:0;
	opacity:0;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

#ferromenu-controller,#nav li a{
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}

#ferromenu-controller.desktop:hover,
#ferromenu-controller.mobile:active,
#nav li a:hover,
#nav li a:active{
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}

.demo0{
	background:white;
}

.demo0 #ferromenu-controller.desktop.demo0:hover,
.demo0 #ferromenu-controller.mobile.demo0:active,
.demo0 #nav li a:hover,
.demo0 #nav li a:active{
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
} 

#ferromenu-controller{
	position:fixed;
	display:block;
	width:60px;
	height:60px;
	/*margin:10px;*/
	text-align:center;
	-webkit-border-radius:50%;
	border-radius:50%;
	color:#000;
	background:#fff;
	font-family: 'Lato', sans-serif;
	font-size:24px;
	line-height:60px;
	vertical-align:middle;
	text-decoration:none; 
}

#ferromenu-controller .label{
	-webkit-transition : all 0.2s linear;
	-moz-transition : all 0.2s linear;
	-ms-transition : all 0.2s linear;
	-o-transition : all 0.2s linear;
	transition : all 0.2s linear;
}

#ferromenu-controller.desktop:hover,
#ferromenu-controller.mobile:active{
}

#nav li{
	text-align:center;
	z-index:1000;
	
}

#nav li a{
	color:#000;
	z-index:1000;
	background:#fff;
	text-decoration:none;
	width:40px;
	height:40px;
	-webkit-border-radius:50%;
	border-radius:50%;
	line-height:40px;
	display:block;
}

#nav li.desktop a:hover,
#nav li.mobile a:active{
}



/* #Home
================================================== */

#home{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}




/* #Slider
================================================== */



#gallery {
	position: absolute;
	width: 100%;
	height: 700px;
	top: 0;
	left: 0;
}
#controls div {
}
#controls div:hover:not(.counter) {
}
#controls div:not(.counter) {
}
#controls div.sel {
}	
.prev {
	top:50%;
	margin-top:-25px;
	position:absolute;
	cursor:pointer;
	background:url('../images/arrow-left.png') no-repeat center center;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
	left:20px;
	width:50px;
	height:50px;
	z-index:100000;
}
.next {
	top:50%;
	margin-top:-25px;
	position:absolute;
	cursor:pointer;
	background:url('../images/arrow-right.png') no-repeat center center;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
	right:20px;
	width:50px;
	height:50px;
	z-index:100000;
}




.prev:hover, .next:hover {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}
.prev:active, .next:active {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}




.social-top{ 
	position:absolute;
	top:20px;
	right:20px;
	z-index:99;
	height:30px;
}
.list-social li {
	padding:0; 
	list-style: none;
	text-align:center; 
	width:30px;
	display: inline-block;
	border: 1px solid rgba(255,255,255,1);
	border-radius:50%;
	cursor:pointer;
	margin-left:2px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}

.list-social li.icon-soc a {
	font-family: 'FontAwesome';
	font-size: 12px;
	line-height: 30px;
	width:30px;
	color: #fff; 
	margin:0;
	padding:0;
}
.list-social li:hover{
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}
.list-social li:hover.icon-soc a{
}


.logo{
	position:absolute;
	width:100%;
	font-size: 40px;
	text-align: center;
	left:0;
	top:70px;
	z-index:1000;
}


.home-text {
	position:absolute;
	width:100%;
	top:50%;
	margin-top:-80px;
	overflow: hidden;
	z-index:1000;
}

.home-text h1 {
	font-size: 70px; 
	line-height:70px;
	font-weight: 300;
	vertical-align:text-top;
}


.link-home {
	position:absolute;
	width:100%;
	top:50%;
	text-align:center;
	margin-top:20px;
}
.link-home a {
	position: relative;
	display: inline-block;
	outline:rgba(255,255,255,.8) solid 1px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}

.link-simple {

}
.link-simple a {
	position: relative;
	display: inline-block;
	outline:rgba(255,255,255,.8) solid 1px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}
.cl-effect-8 a {
	padding: 7px 17px;
	margin: 0 10px;
	z-index:2;
}

.cl-effect-8 a::before,
.cl-effect-8 a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-8 a::after  {
	border-color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

.cl-effect-8 a:hover::before,
.cl-effect-8 a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(15px) translateX(-15px);
	-moz-transform: translateY(15px) translateX(-15px);
	transform: translateY(15px) translateX(-15px);
}

.cl-effect-8 a:hover::after,
.cl-effect-8 a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}	

.link-home a:hover,
.link-home a:focus {
	outline: none;
}


/* #About Us
================================================== */
#about{
	overflow-y:auto;
}
#about h1{
	padding-top:100px;
}
#about h5{
}


/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper{
	position:relative;
	width:100%;
}
.bx-wrapper .bx-prev {
	left: 0;
	margin-top:-20px;
	top:50%;
	background:rgba(0,0,0,.7) url(../images/arrow-left.png) no-repeat center center;
	background-size:30px 30px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;  
}

.bx-wrapper .bx-next {
	right:0;
	margin-top:-20px;
	top:50%;
	background:rgba(0,0,0,.7) url(../images/arrow-right.png) no-repeat center center;
	background-size:30px 30px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;  
}

.bx-wrapper .bx-prev:hover {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}

.bx-wrapper .bx-next:hover {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	outline: 0;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	z-index: 9;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}


.media{
	width:100%;
}


.sep{
	position:relative;
	margin:0 auto;
	width:50px;
	border-top:2px double #fff;
	margin-top:10px;
	margin-bottom:50px;
}

.img-wrap img{
	width:100%;
	height:auto;
	display:block;
	border-radius:5px;
}

.qut{
	position:relative;
	background:url('../images/qv.png') no-repeat top left;
}
.qut h6{
	text-align:left;
	font-family: 'Lato', sans-serif;
	padding-bottom:25px;
	padding-left:50px;
	font-size: 18px;
}
.qut p{
	text-align:right;
	color: rgba(255,255,255,.7);
}
.qut span{
	border-top:1px solid rgba(255,255,255,.7);
	padding-top:5px;
}
.separator-space{
	position:relative;
	margin:0 auto;
	width:100%;
	margin-bottom:10px;
}
.separator-space-bottom{
	position:relative;
	margin:0 auto;
	width:100%;
	margin-bottom:40px;
}

#team-back{
	position:relative;
	background: url('../images/5.jpg') no-repeat scroll;
	background-size: cover;
	width:100%;
}



.team-wrap{
	position:relative;
	margin:0 auto;
	width:100%;
	background:rgba(52,152,219,.8);
	border-radius:5px;
	overflow:hidden;
	margin-bottom:10px;
}
.team-wrap .team-img {
	position:relative;
	margin:0 auto;
	width:100%;
}
.team-wrap .team-img img{
	width:100%;
	height:auto;
	display:block;
}
.team-wrap .team-memb {
	position:absolute;
	width:140px;
	height:140px;
	border:5px solid rgba(255,255,255,.2);
	z-index:5;
	border-radius:50%;
	left:50%;
	margin-left:-75px;
	bottom:117px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;  
}
.team-wrap .team-memb img{
	width:100%;
	height:auto;
	border-radius:50%;
	display:block;
}

.team-wrap h6{
	padding-top:90px;
	text-align:center;
}
.team-wrap p{
	padding-bottom:15px;
	text-align:center;
	font-style: italic;
}

.social-team{ 
	position:realative;
	z-index:99;
	height:20px;
	padding-bottom:25px;
	text-align:center; 
}
.list-social-team li {
	padding:0; 
	list-style: none;
	text-align:center; 
	width:20px;
	display: inline-block;
	border: 1px solid rgba(255,255,255,1);
	border-radius:50%;
	cursor:pointer;
	margin-left:2px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}

.list-social-team li.icon-team a {
	font-family: 'FontAwesome';
	font-size: 10px;
	line-height: 20px;
	width:20px;
	color: #fff; 
	margin:0;
	padding:0;
}
.list-social-team li:hover{
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}
.list-social-team li:hover.icon-team a{
}




.facts{
	position:relative;
	margin:0 auto;
	width:100%;
	text-align:center;
	overflow:hidden;
}
.facts img{
	width:20px;
	height:20px;
}
.facts h2{
}
.facts h6{
}


/* #Services
================================================== */
#services{
	overflow-y:auto;
}
#services h1{
	padding-top:100px;
}
#services .bx-wrapper{
	margin-bottom:40px;
}
#services .bx-wrapper .bx-prev {
	left: 50%;
	margin-left:-40px;
	margin-top:0;
	top:auto;
	background:url(../images/arrow-left.png) no-repeat center center;
	background-size:30px 30px;
}

#services .bx-wrapper .bx-next {
	right:50%;
	margin-right:-40px;
	margin-top:0;
	top:auto;
	background:url(../images/arrow-right.png) no-repeat center center;
	background-size:30px 30px;
}

.offer{
	position:relative;
	margin:0 auto;
	width:100%;
	text-align:center;
	overflow:hidden;
}
.offer img{
	width:40px;
	height:40px;
}
.offer h6{
	padding-top:15px;
	padding-bottom:15px;
}
.offer1{
	position:relative;
	margin:0 auto;
	width:100%;
	text-align:center;
	overflow:hidden;
}
.offer1 img{
	width:30px;
	height:30px;
	float:left;
}
.offer1 h6{
	padding-bottom:15px;
	margin-left:45px;
	text-align:left;
}
.offer1 p{
	margin-left:45px;
	text-align:left;
}

.clients{
	position:relative;
	width:100%;
}
.clients h6{
	font-family: 'Lato', sans-serif;
	padding-bottom:25px;
	font-style: italic;
	font-size: 18px;
}
.clients p{
	color: rgba(255,255,255,.7);
	padding-bottom:10px;
}
.clients span{
	border-top:1px solid rgba(255,255,255,.7);
	padding-top:5px;
}


.link-box{
	position:relative;
	background:#2980b9;
	padding:20px;
	border-radius:5px;
}
.link-box h6{
	padding-bottom:20px;
}

.link-box a {
	position: relative;
	display: inline-block;
	outline:rgba(255,255,255,.8) solid 1px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: .9em;
}

#other-ser{
	position:relative;
	background: url('../images/2.jpg') no-repeat scroll;
	background-size: cover;
	width:100%;
}
.purple{
	background:rgba(52,152,219,.4);
	top: 0; 
	left: 0; 
	right: 0;
	bottom: 0;
	z-index: -1;
	width:100%;
}



/* #Portfolio
================================================== */

#folio{
	overflow-y:auto;
	width: 100%;
}
#folio h1{
	padding-top:100px;
}

.all-works{
	position:relative;
	overflow:hidden;
	width:100%;
	display: block;
}

.all-works h5{
	padding-bottom:40px;
	text-align:center;
}

.one-work{
	position:relative;
	width:100%;
	overflow:hidden;
	display: block;
	border-radius:5px;	
}
.one-work img{
	width:100%;
	height:auto;
	display: block; 
}

.one-work .mask{
	position:absolute;
	background: #3498db url('../images/plus.png') no-repeat center center;
	overflow:hidden;
	display: block; 
	width:100%;
	height:100%;
	top:-100%;
	left:0;
	z-index:5;
	opacity: 0.8;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.one-work:hover .mask{
	top:0;
}

.one-work a{
}
.one-work .work-text{
	position:absolute; 
	width:100%;
	text-align:center;
	height:60px;
	z-index:6;
	left:0;
	bottom:-60px;
	background:rgba(52,152,219,.6);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.one-work .work-text h6{
	text-align:center;
	font-weight:300;
	line-height:60px;
}

.one-work:hover .work-text{
	bottom:0;
}



#filter {
	display: inline-block;
}

#filter li {
	font-size: 16px;
	margin-bottom: 10px;
	text-align:center;
	display: inline-block;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}

#filter li a {
	position: relative;
	display: inline-block;
	outline:rgba(255,255,255,.8) solid 1px;
	outline: none;
	color: #fff;
	text-align:center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 12px;
	line-height:22px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
#filter li a:hover {
}
#filter li .current {
}


.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity;
}





/* #Contact
================================================== */


#contact .list-social li {
	border: 1px solid rgba(0,0,0,1);
}

#contact .list-social li.icon-soc a {
	color: #000; 
}

#map{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.overlay{
	display:block;
	z-index:10;
	text-align:center;
	height:80px;
	width:102px;
	background:transparent url(../images/marker.png)no-repeat bottom center;
}
.overlay_arrow{
	left:50%;
	margin-left:-16px;
	width:0;
	height:0;
	position:absolute;
}
.overlay_arrow.above{
	bottom:-13px;
	border-left:16px solid transparent;
	border-right:16px solid transparent;
	border-top:16px solid #000;
}
.overlay_arrow.below{
	top:-15px;
	border-left:16px solid transparent;
	border-right:16px solid transparent;
	border-bottom:16px solid #000;
}



.contact-wrap{
	position:absolute;
	width:400px;
	background:rgba(52,152,219,.9);
	border-radius:5px;
	overflow:hidden;
	padding:25px;
	left:20px;
	bottom:20px;
	z-index:10;
}
.contact-wrap p{
	text-align:left;
	padding:5px;
}
.contact-wrap a{
	color:#fff;
}
.contact-wrap a:hover{
	color:#fff;
	text-decoration:underline;
}





/* #Media Queries
================================================== */


@media only screen and (min-width: 960px) and (max-width: 1200px) {
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.home-text {
		margin-top:-40px;
	}

	.home-text h1 {
		font-size: 50px; 
		line-height:50px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.home-text {
		margin-top:-20px;
	}

	.home-text h1 {
		font-size: 40px; 
		line-height:40px;
	}
	.link-home {
		margin-top:60px;
	}			
	.prev {
		top:auto;
		bottom:20px;
		margin-top:0;
	}
	.next {
		top:auto;
		bottom:20px;
		margin-top:0;
	}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {	
	.home-text {
		margin-top:0;
	}

	.home-text h1 {
		font-size: 30px; 
		line-height:30px;
	}
	.link-home {
		margin-top:60px;
	}	
	.logo{
		top:70px;
		background-size:90px 62px;
		width:90px;
		height:62px;
		margin-left:-45px;
	}	
	.prev {
		top:auto;
		bottom:20px;
		margin-top:0;
	}
	.next {
		top:auto;
		bottom:20px;
		margin-top:0;
	}
	.contact-wrap{
		width:240px;
	}
}

@media only screen and (max-width: 319px) {	
	.home-text {
		margin-top:10px;
	}

	.home-text h1 {
		font-size: 24px; 
		line-height:24px;
	}
	.link-home {
		margin-top:54px;
	}	
	.logo{
		top:70px;
		background-size:90px 62px;
		width:90px;
		height:62px;
		margin-left:-45px;
	}	
	.prev{
		top:auto;
		bottom:20px;
		margin-top:0;
	}
	.next {
		top:auto;
		bottom:20px;
		margin-top:0;
	}
	.contact-wrap{
		width:160px;
	}
}




/* #Font-Face
================================================== */





@font-face {
	font-family: 'OpenSans-Light-webfont';
	src: url('font/OpenSans-Light-webfont.eot');
	src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('font/OpenSans-Light-webfont.woff') format('woff'),
	url('font/OpenSans-Light-webfont.ttf') format('truetype'),
	url('font/OpenSans-Light-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}


