
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


/* #PAGE STYLES */

#preloader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 999999;
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	/*background-image: url(../images/preload.gif);*/
	background-color: #3498db;
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}

html,body{
	background:#3498db;
}



#project{
	position:relative;
	background:#3498db;
	overflow-y:auto;
	width: 100%;
	padding-bottom:40px;
}


#project h1{
	padding-top:60px;
	padding-bottom:20px;
}
#project h6{
	padding-bottom:15px;
	text-align:left;
	font-size: 20px;
	line-height: 25px;
	font-weight: 400;
}
#project img{
	width: 100%;
	height:auto;
	display:block;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper{
	position:relative;
	width:100%;
}
.bx-wrapper .bx-prev {
	left: 0;
	margin-top:-20px;
	top:50%;
	background:url(../images/arrow-left.png) no-repeat center center;
	background-size:30px 30px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;  
}

.bx-wrapper .bx-next {
	right:0;
	margin-top:-20px;
	top:50%;
	background:url(../images/arrow-right.png) no-repeat center center;
	background-size:30px 30px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;  
}

.bx-wrapper .bx-prev:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.bx-wrapper .bx-next:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	outline: 0;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	z-index: 9;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}


.separator-space{
	position:relative;
	margin:0 auto;
	width:100%;
	margin-bottom:10px;
}


.media{
	width:100%;
}


.link-project {
	position:relative;
	border-top:1px solid rgba(255,255,255,.3);
	padding-top:45px;
	width:100%;
	text-align:center;
}
.link-project a {
	position: relative;
	display: inline-block;
	outline:rgba(255,255,255,.8) solid 1px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}
.cl-effect-8 a {
	padding: 7px 17px;
	margin: 0 10px;
	z-index:2;
}

.cl-effect-8 a::before,
.cl-effect-8 a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-8 a::after  {
	border-color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

.cl-effect-8 a:hover::before,
.cl-effect-8 a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(15px) translateX(-15px);
	-moz-transform: translateY(15px) translateX(-15px);
	transform: translateY(15px) translateX(-15px);
}

.cl-effect-8 a:hover::after,
.cl-effect-8 a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}	

.link-project a:hover,
.link-project a:focus {
	outline: none;
}










/* #Font-Face
================================================== */





@font-face {
    font-family: 'OpenSans-Light-webfont';
    src: url('font/OpenSans-Light-webfont.eot');
    src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Light-webfont.woff') format('woff'),
         url('font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('font/OpenSans-Light-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
